.section-wrapper{
    background-color: var(--color-darkest);
    padding: var(--padding-primary);
    border-radius: var(--border-radius-primary);
    margin-top: var(--margin-primary);
}
.section-header h3{
    font-size:  36px;
    font-weight: var(--font-wight-bold);
}
.most-popular-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.most-popular-item{
    flex: 1;
}
.card-wrapper{
    background-color: var(--color-dark);
    padding: calc(var(--padding-primary)/2) ;
    border-radius: calc(var(--border-radius-primary)/2) ;
    margin: calc(var(--margin-primary)/5) ;

}

.most-popular-item-img{
    width: 100%;
    margin-bottom: calc(var(--margin-primary)/2) ;
    border-radius: calc(var(--border-radius-primary)/2) ;
}
.most-popular-item-content{
    display: flex;
    justify-content: space-between;
}
.most-popular-item-title{
    font-size: 14px;
}