.hero-main{
    background-color: var(--color-dark);
    color: var(--color-light );
    padding: var(--padding-primary);
    border-radius: var(--border-radius-primary);
    background: url('../../assets/images/banner-bg.jpg') no-repeat top right/cover;

}
.hero-text{
max-width: 500px;

}
.hero-title{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: var(--font-wight-bold) ;
    margin-top: calc(var(--margin-primary)/2);

}
.hero-title em {
    font-style: normal;
    color: var(--color-primary);
}
.hero-subtitle{
    font-size: 25px;
    font-weight: var(--font-wight-normal);
    margin-bottom: calc(var(--margin-primary)/2);
}